<!DOCTYPE html>
<html>
<head>
	<title> Flight Details </title>
</head>
<body>
	<article>
		Route:
		<p>{{origin}} &rarr; {{destination}}</p>

		Travelling on:
		<p>{{date}} </p>

		<p>With a {{model}}</p>

		Crew selected:
		<p>{% for name in crew %}
			{{name}}
		{% endfor %}
		</p>

		<p>Passenger number: {{passengers}}</p>

		<p>Meals Selected: {{chicken}} chicken, {{fish}} fish, {{vegetarian}} vegetarian.</p>

		<p>Expected flight duration: {{flight_time}} hours.</p>

		<p>Expected flight cost: {{flight_cost}} pounds.</p>
		
	</article>
	<form action = "report/pdf_out" method = "get"><input type = "submit" value = "Proceed"></form> 

</body>
</html>
